@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

foreignObject {
    pointer-events: none;
}

#chart {
    height: 800px;
    overflow: scroll;
    margin-top: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#details {
    color: gray;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-style: normal;
}
