name: Build and Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  bench:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: extractions/setup-just@v3
      - uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-codspeed
          targets: x86_64-unknown-linux-gnu
      - name: Build benchmarks
        run: cargo codspeed build
      - name: Run Cargo benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: cargo codspeed run
      - name: Run Node benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: just node-bench

  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: moonrepo/setup-rust@v1
        with:
          bins: wasm-pack
          targets: wasm32-unknown-unknown,x86_64-unknown-linux-gnu
      - name: Check
        run: cargo check
      - name: Run tests
        run: just test
      - name: Create WASM binary
        run: wasm-pack build --target web
